<%= form_tag search_tasks_path, method: :get, class: "ui form search" do %>
  <div class="two fields">
    <div class="field">
      <%= text_field_tag :search %>
    </div>
    <div class="field">
      <%= submit_tag "Search tasks", class: "ui button" %>
    </div>
  </div>
<% end %>