<h1>Your tasks</h1>

<%= link_to "create_new_task", new_task_path, class: "ui button primary" %>

<%= render "search_form" %>

<div id="task_menu">
  <%= render "task_menu" %>
</div>

<div id="task_list">
  <%= render "all_tasks" %>
</div>